{#default/myprueba.html.twig#}
{% extends 'base.html.twig' %}

{% block title %}JnjSite.com ejemplo de página corporativa{% endblock %}

{% block body %}

    <div style="background-color: #808080; border-radius: 20px; box-shadow: 5px 5px 5px 0 black; padding: 20px;">
        <h1>Esto es una página corporativa</h1>
    </div>

    Name: <div> {{name}} </div>
    Message:<div> {{message}}</div>

{% endblock %}